@font-face {
  font-family: 'helvetica-1';
  src: url('../font/HelveticaNeueLTPro25UltraLight.eot');
  src: url('../font/HelveticaNeueLTPro25UltraLight.eot') format('embedded-opentype'),
      url('../font/HelveticaNeueLTPro25UltraLight.woff') format('woff'),
      url('../font/HelveticaNeueLTPro25UltraLight.ttf') format('truetype'),
      url('../font/HelveticaNeueLTPro25UltraLight.svg#HelveticaNeueLTPro25UltraLight') format('svg');
}
@font-face {
  font-family: 'helvetica-2';
  src: url('../font/HelveticaNeueLTPro35Thin.eot');
  src: url('../font/HelveticaNeueLTPro35Thin.eot') format('embedded-opentype'),
      url('../font/HelveticaNeueLTPro35Thin.woff') format('woff'),
      url('../font/HelveticaNeueLTPro35Thin.ttf') format('truetype'),
      url('../font/HelveticaNeueLTPro35Thin.svg#HelveticaNeueLTPro35Thin') format('svg');
}
@font-face {
  font-family: 'helvetica-3';
  src: url('../font/HelveticaNeueLTPro45Light.eot');
  src: url('../font/HelveticaNeueLTPro45Light.eot') format('embedded-opentype'),
      url('../font/HelveticaNeueLTPro45Light.woff') format('woff'),
      url('../font/HelveticaNeueLTPro45Light.ttf') format('truetype'),
      url('../font/HelveticaNeueLTPro45Light.svg#HelveticaNeueLTPro45Light') format('svg');
}
@font-face {
  font-family: 'helvetica-6';
  src: url('../font/HelveticaNeueLTStd75Bold.eot');
  src: url('../font/HelveticaNeueLTStd75Bold.eot') format('embedded-opentype'),
      url('../font/HelveticaNeueLTStd75Bold.woff') format('woff'),
      url('../font/HelveticaNeueLTStd75Bold.ttf') format('truetype'),
      url('../font/HelveticaNeueLTStd75Bold.svg#HelveticaNeueLTStd75Bold') format('svg');
}